<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="privacy-policy">
        <h1>Privacy Policy</h1>
        <p>Last Updated: May 19, 2023</p>

        <p>This is the Privacy Notice of the SimpleTemp Limited website and mobile application (‘<b>Company</b>’, ‘<b>we</b>’, ‘<b>us</b>’, or ‘<b>our</b>’). 
                It describes our policies and procedures regarding the collection, use, and disclosure of your information when you 
                use our services (‘<b>Services</b>’). By accepting the Privacy Policy in registration or by visiting and/or using the Application, 
                you expressly consent to our collection, use and disclosure of your personal information in accordance with this Privacy Policy.<br><br>

        We take the privacy of personal data very seriously and will only process personal information according to the guidelines outlined in 
        this notice, unless otherwise notified. To ensure the accuracy and currency of the personal data we possess, we kindly request that you 
        inform us of any relevant changes to the personal information we have on record about you.<br><br>

        We utilize the personal information stored in your file, as well as other data acquired from your past and present activities on the Application, 
        for various purposes. These include providing you with the services available on the Application, resolving any service or billing disputes, 
        addressing issues or difficulties you may encounter, billing you for any outstanding payments, gauging consumer interest in our products and services, 
        keeping you informed about online and offline offers, products, services, events, and updates, delivering relevant information based on your interests 
        (such as product news), customizing your experience, identifying and safeguarding against errors, fraud, and other unlawful activities, enforcing our 
        Terms of Use, sending you system or administrative messages, and fulfilling any other purposes explained to you during the information collection process.<br><br>

        Furthermore, we may utilize your personal information to enhance our marketing and promotional endeavors, analyze the usage of the Application, enhance 
        our content and product offerings, and customize the content, layout, and services of the Application. These uses aim to improve the Application and cater 
        to your requirements, providing you with a seamless, efficient, secure, and personalized experience when using the Application. Occasionally, we may also 
        reach out to users via email or other contact information to share newsletters or similar communications, or to seek their feedback on our services.<br><br>

        If you do not want us to handle your personal data in accordance with this policy, please refrain from sharing it with us. For details on your rights 
        concerning the data we already possess or receive from third parties, please consult Section 4 titled 'Your rights'.<br><br>

        Generally, any email or electronic message we send you will include a link or instructions that allow you to unsubscribe from such communications. 
        However, please note that certain emails or messages are crucial for the functioning of the Application, and you would need to cancel your account 
        to opt out of receiving them.<br><br>
        Regarding the information we collect, our main objective is to provide you with a secure, seamless, efficient, and personalized experience. This 
        enables us to offer services and features that are likely to meet your needs and customize our service to enhance your safety and convenience. 
        We only gather personal information that we deem necessary to fulfill this purpose. Once you become a registered User, we will request various 
        contact details, identity information, billing information, and other necessary personal information as indicated on the relevant forms within the 
        Application. As a result, you will no longer be anonymous to us.
        </p>

        <h4>Privacy of Communication / Conversations</h4>
        <p>While we will strive to respect requests for confidentiality in communications involving SimpleTemp, dental offices, and other members, we will 
                use our discretion when sharing details and information regarding placements, cancellations, complaints, comments, feedback, and other shift 
                or job-related matters. At our discretion, we may relay relevant information to the appropriate parties, although we will generally respect 
                requests to keep such information private. Therefore, it is important to note that any communication with SimpleTemp should be considered 
                non-confidential.</p>

        <h4>Display to other Users</h4>
        <p>When you register on the Application and provide personal information to create a User profile or collection, your name will be visible to other 
                users. If you choose to include additional personal information in your profile, such as a photo, location, website, or biography, other users 
                will also be able to see that information. It's important to note that providing this additional personal information is optional. We advise you 
                to exercise caution and avoid disclosing any sensitive or confidential information.<br>
        In certain instances, the Application allows users to rate and review other users, and these ratings and reviews will be displayed in areas of the 
        Application that are visible to registered users. When completing an Evaluation Survey, comments marked as "Public" may be visible to all members of 
        the public, regardless of whether they are registered users or not.
        </p>

        <h4>Notification of Privacy Statement Changes</h4>
        <p>Your resume and photo are stored on our servers and can be accessed by all member dental offices. It is important to note that uploaded resumes and 
                photos should not be considered private or confidential and may potentially become publicly available. If you do not agree to these terms regarding 
                the handling of resumes and photos, please refrain from uploading a photo or resume to your account. You have the option to remove your resume or 
                photo at any time by accessing your profile in the app and selecting the "Remove resume" and/or "Remove photo" options. Remember to save any changes you make.<br>
        Please be aware that we may update this privacy policy to reflect changes in our information practices. In the event of any significant changes, we will notify you 
        via email (sent to the email address provided in your account) or through a notice on this Application prior to the effective date of the changes. We encourage you 
        to review this page periodically to stay updated on our latest privacy practices.
        </p>

        <h4>Status, Ratings and Usage Records</h4>
        <p>We may monitor and compile data on your utilization of our website and application, and utilize and present this information to other users of our service. 
                This encompasses, but is not restricted to, details such as your usage history, profile summary, and performance on SimpleTemp. For instance, other 
                SimpleTemp users may have access to your Star Rating, the number of shifts you have completed, and other statistical information associated with your 
                profile and track record on the platform. This data assists other SimpleTemp users in making informed decisions regarding potential engagements with 
                you on the platform.<br>
         It is important that the personal data we hold about you is accurate and current. Please keep us informed if your personal data changes during your relationship with us.
        </p>

        <h4>Personal Information we process</h4>
        <p>When you use or explore our services, we might handle personal information based on your interactions with SimpleTemp, 
                the preferences you express, and the features you utilize.<br> 
                We might handle sensitive information when required with your approval or as allowed by relevant laws.<br>
                We utilize your data to offer, enhance, and manage our services, maintain communication, ensure security and prevent fraud,
                 and adhere to legal obligations. Additionally, we might handle your data for different reasons, subject to your agreement. 
                 Our processing of your data is always grounded in legitimate legal justifications.
        </p>

        <h4>Data Security</h4>
        <p>We ensure your personal data's security with strong measures, like encryption. Only authorized individuals 
                can access it for valid reasons, and we have protocols for addressing breaches promptly. You'll be informed 
                of any security-related issues.
        </p>

        <br>
        <p>This privacy notice is divided into the following sections.</p>
                <ol >
                        <li>THE DATA WE COLLECT ABOUT YOU</li>
                        <li>HOW IS YOUR PERSONAL DATA COLLECTED?</li>
                        <li>HOW WE USE YOUR PERSONAL DATA</li>
                        <li>DISCLOSURES OF YOUR PERSONAL DATA</li>
                        <li>DATA SECURITY</li>
                        <li>DATA RETENTION</li>
                        <li>YOUR LEGAL RIGHTS</li>
                </ol>

        <h3>1. THE DATA WE COLLECT ABOUT YOU</h3>
        <p>
                Personal data, or personal information, means any information about an individual from which that person can be identified. 
                It does not include data where the identity has been removed (anonymous data).<br><br>

                We may collect, use, store and transfer different kinds of personal data about you which we have grouped together follows:<br>
                <b>Identity Data</b>: This category of data includes personal information such as first name, maiden name, last name, username and Date of Birth.<br><br>

                <b>Contact Data</b>: Contact Data encompasses details like billing address, billing address, email address, and telephone numbers.<br><br>

                <b>Payment Data</b>: Payment Data refers to sensitive information like bank account details from dental professionals and payment 
                card information from dental practices. All payment data of dental practices is stored by Stripe. You can find their privacy notice 
                <a href="/stripe.com/gb/privacy">here</a>.<br><br>

                <b>Transaction Data</b>: Transaction Data comprises information about payments made by you and to you, as well as other relevant details 
                regarding the products and services you have purchased from us.<br><br>

                <b>Technical Data</b>: Technical Data includes data related to your online presence, such as your internet protocol (IP) address, login data, 
                browser type and version, time zone settings, location information, browser plug-in types and versions, operating system and platform, 
                and other technological details pertaining to the devices you use to access our website.<br><br>

                <b>Profile Data</b>: Profile Data involves information specific to your profile, including your username and password, job history, offers placed, 
                invoices, interests, preferences, feedback, and responses to surveys.<br>
                Professional and business information: including GDC number, vaccination certificates,  DBS, proof of indemnity cover, resume, and other details 
                necessary to complete the user profile for dental professionals and dental clinics.<br>
                Some aspects of your Personal Data may, at our discretion, be anonymized or obscured as part of the Service, such as information that may be 
                relevant to your relationship with us but not with other users. By way of example, payment method information submitted by a Clinic User is 
                not relevant to the Professional User, and vice versa. As such, you acknowledge and understand that the Company retains some discretion as 
                to what may be displayed on the Services, but in any event, all information submitted as part of your Account shall be deemed to be Personal 
                Data.<br><br>

                <b>Usage Data</b>: Usage Data encompasses information about how you use our website, products, and services.<br><br>

                <b>Marketing and Communications Data</b>: This category covers your preferences regarding marketing communications from us and our third parties, 
                as well as your chosen communication preferences.<br><br>

                We collect, utilize, and share Aggregated Data, which refers to statistical or demographic information that does not directly or indirectly 
                disclose your identity. This data is not considered personal data under the law. We may derive Aggregated Data from your personal data, but 
                its purpose is not to reveal your identity. For instance, we may analyze Usage Data from multiple users to determine the percentage of 
                people accessing a specific feature on our website. However, if we combine or link Aggregated Data with your personal data in a way 
                that it can directly or indirectly identify you, we treat the combined information as personal data and handle it according to the terms 
                stated in this privacy notice.<br><br>

                <b>Use of Camera and Photos</b>:<br> 
                <u>Profile Picture Upload</u>: Our app requests access to your device's camera and photo library solely for the purpose of allowing you to set or change your profile picture. Here's how we handle this:<br>
                <u>Camera Access</u>:If you choose to take a new photo for your profile picture, we request access to your device's camera. This access is only used to capture the new photo at your direction.<br>
                <u>Photo Library Access</u>: If you choose to select an existing photo from your device for your profile picture, we request access to your photo library. This access is only used to let you pick a photo for your profile.<br>
                <u>Storage and Sharing</u>: We do not store, share, or have any secondary use for the photos you choose or capture for your profile picture beyond displaying them as your profile image within the app. Once you set a profile picture, the image is used solely for that purpose and is not used in any other context or shared with any third parties. <br>
                <u>Revoking Access</u>: You can change or revoke our app's access to your camera and photo library at any time through your device's settings.
                We value your privacy and strive to handle your personal data with care and transparency. If you have any questions about our use of the camera and photos, please contact us at hello@simpletemp.co.uk.<br><br>

                Except for Treatment Data, we do not gather any other Special Categories of Personal Data related to you. This includes information 
                regarding your race or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political opinions, trade union 
                membership, health information, and genetic or biometric data.<br><br>

                SimpleTemp endeavours to take all actions necessary to ensure that all personal data we obtain, process and store is accurate, relevant, 
                and adequate in relation to the reason in which we asked for that information. We should not hold excessive or irrelevant data on any individuals, 
                and we will not process any personal data for a purpose unrelated to the purpose in which the relevant individual has consented to the processing 
                of their data.<br><br>
        </p>
        <h4>IF YOU FAIL TO PROVIDE PERSONAL DATA</h4>
        <p>If you are required by law or under a contractual agreement to provide personal data, and you fail to do so when requested, it may prevent us 
                from fulfilling the contract we have or are attempting to enter into with you. For instance, we may be unable to provide you with goods 
                or services. If such a situation arises, we may need to cancel a product or service you have with us. However, we will notify you in advance 
                if this is necessary.</p>


        <h3>2. HOW IS YOUR PERSONAL DATA COLLECTED?</h3>
        <p>We use your Personal Data in order to improve and develop our Services, process payments (including processing through any third-party payment 
                companies, such as Stripe, our current payment processor), analyze usage, provide support, and for the purposes of marketing by the Company. 
                The Company will not share your Personal Data without your express permission except as provided for under this Policy.<br><br>
                
                <b>Direct interactions</b>: You can provide us with your Identity, Contact, and Financial Data by completing forms or corresponding with us through 
                various means such as post, phone, email, or other communication channels. This includes personal data you provide when:<br>
                •  Applying for our products or services<br>
                •  Creating an account on our website<br>
                •  Subscribing to our service or publications<br>
                •  Requesting marketing materials<br>
                •  Participating in competitions, promotions, or surveys<br>
                •  Providing feedback to us<br><br>

                <b>Communication</b>: We may use your Personal Data and contact information to contact you regarding your usage of the Services and to send marketing 
                materials from time to time that we deem to be relevant to you. By using the Services, and by express agreement when you sign up, you consent to receive 
                such marketing communications until such consent is revoked or otherwise terminated by you or by your discontinuance of your Account.<br><br>

                <b>Data Sharing</b>: Certain pieces of Personal Data may be shared with affiliates and business partners in order to provide or enhance the Services. 
                Your Personal Data will be anonymized in such event unless specifically required by our third-party partners, such as payment processors or technology 
                providers.<br><br>

                <b>Third parties or publicly available sources</b>: We may receive personal data about you from various third parties and public sources, as explained below:<br>
                Technical Data from:<br>
                1.  Analytics providers, such as Google, located inside or outside the EU.<br>
                2.  Advertising networks located inside or outside the EU.<br>
                3.  Search information providers, such as Google or Bing, located inside or outside the EU.<br>
                4.  Contact, Financial, and Transaction Data from providers of technical, payment, and delivery services.<br>
                5.  Identity and Contact Data from data brokers or aggregators, such as Experian, located inside and outside the EU.<br>
                6.  Identity and Contact Data from publicly available sources, such as Companies House and the Electoral Register, located inside and outside the EU.
        </p>

        <h3>3.	HOW WE USE YOUR PERSONAL DATA</h3>
        <p>In general, we utilize personal information to manage our business operations, fulfill your product and service requests, handle payment processing, monitor service 
                usage, enhance our marketing and promotional activities, improve our content and services, customize our website's content, layout, and services, and for other 
                lawful objectives. These applications aim to enhance our website and make it more suitable for your requirements.<br><br>

                We will only utilize your personal data in accordance with legal requirements. Generally, we will use your personal data in the following situations:<br>
                1.  To fulfill the contract we have established or are about to enter into with you.<br>
                2.  The bank information you provide will be used solely for the purpose of facilitating payment transactions and ensuring accurate disbursement of funds to you.
                We prioritize the confidentiality and security of your bank information. We have implemented robust measures to safeguard your data and protect it from unauthorized access, 
                misuse, or theft. Rest assured that your information will be handled with the utmost care. By providing your bank information, you consent to the processing and transfer of 
                your data for the purpose of facilitating payments. You have the right to withdraw your consent at any time by contacting our support team. We maintain stringent security 
                measures to protect your bank information. These measures include encryption, secure transmission protocols, and regular security audits to ensure the integrity of your data. 
                Your bank information will be used strictly for payment-related purposes. We will not share or disclose it to any third parties unless required by law or with your explicit 
                consent. We will retain your bank information for a specified duration as required by applicable laws and regulations. After this period, your data will be securely deleted 
                or anonymized in accordance with our data retention policy. It is important to provide accurate and up-to-date bank information to facilitate seamless payment processing. 
                Please notify us promptly of any changes or errors in your information. While we take reasonable measures to ensure the security and accuracy of the payment process, we 
                cannot be held liable for any losses or damages resulting from errors or unauthorized access to your bank information, provided that such incidents are not caused by our 
                negligence or intentional misconduct.  If you have any questions, concerns, or requests regarding your bank information or payment processing, please contact our dedicated 
                support team at hello@simpletemp.co.uk.<br>
                3.  When it is necessary for our legitimate interests (or those of a third party), provided your interests and fundamental rights do not outweigh those interests.<br>
                4.  To comply with legal or regulatory obligations imposed upon us.<br>
                5.  We may collect and use your email address for the purpose of providing transactional communications and receipts. When you make payments through our platform, 
                we utilize the services of Stripe as our payment processor. As part of this process, your email address may be shared with Stripe to facilitate the issuance of payment 
                receipts. This is necessary to fulfill our contractual obligations and provide you with important financial information. We take appropriate measures to protect the 
                confidentiality and security of your email address in accordance with applicable data protection laws.<br>
                6.  We request your Personal and Professional Data to facilitate account creation, user authentication, and account management. SimpleTemp gathers this information 
                from Dental Professionals to provide Dental Practices with comprehensive data for authentication purposes.<br>
                7.  To deliver targeted advertising and send you marketing and promotional communications. <br>
                8.  To enable user-to-user communications.<br><br>

                When you utilize our app to apply for temporary positions, the dental office receives various details including:<br>
                1.  The resume you uploaded.<br>
                2.  Your year and school of graduation.<br>
                3.  Your SimpleTemp rating.<br>
                4.  The number of SimpleTemp placements you have completed.<br>
                5.  Information about whether you have previously worked on a temporary basis at the office you're applying to, and if so, how you were rated.<br><br>

                Additionally, it's important to note that this information may be shared with others in an aggregated form. We are committed to maintaining the confidentiality of 
                personally identifiable information and business information. We will only share such information as required by law. From time to time, we may utilize the collected
                 information to inform you about significant changes to our website, new services, and special offers that we believe you will find valuable. If you prefer not to receive 
                 these offers, you can easily notify us at any time by sending an email to the provided link in the newsletter.
        </p>

        <h3>4.	DISCLOSURES OF YOUR PERSONAL DATA</h3>
        <p>Certain pieces of Personal Data may be shared with affiliates and business partners in order to provide or enhance the Services. Your Personal Data will be anonymized in such 
                event unless specifically required by our third-party partners, such as payment processors or technology providers.<br><br>

                We may have to share your personal data with the parties set out below for the purposes set out in the table in paragraph 4 above. Such third parties consist of:<br>
                1.  IT service providers: We may engage reputable IT service providers who assist us in managing and maintaining our systems, databases, and technological infrastructure. 
                These providers may have access to your personal data to ensure the smooth functioning and security of our services.<br>
                2.  Advisors: In certain cases, we may consult professional advisors, such as legal, financial, or business consultants, who may need access to your personal data to provide 
                their expertise and guidance.<br>
                3.  Authorities: We may be required to disclose your personal data to regulatory authorities, government bodies, or law enforcement agencies, where necessary and legally 
                mandated, to comply with applicable laws, regulations, or legal proceedings. This includes any regulatory authority or statutory body pursuant to a request for information 
                or any legal obligation that applies to us.<br>
                4.  Data analytics Services, performance monitoring tools, website hosting service providers. <br>
                5.  Government Entities.<br>
                6.  Sales and Marketing Tools.<br>
                7.  Payment Processors. <br><br>

                When sharing your personal data with these third parties, we impose strict obligations to ensure the security and confidentiality of your information. We require them to 
                treat your personal data in accordance with the law and not to use it for their own purposes. These third-party service providers are permitted to process your personal 
                data solely for the specified purposes and in line with our explicit instructions.<br><br>
                We take measures to carefully select and assess the trustworthiness of these third parties, conducting due diligence to ensure that they meet our standards for data protection and privacy. 
                Our commitment to safeguarding your personal data extends to our relationships with these third parties, ensuring that your information is handled responsibly and in compliance with applicable 
                data protection laws.
        </p>

        <h3>5.	DATA SECURITY</h3>
        <p>
        
        SimpleTemp takes data security extremely seriously, and we place the rights of the individual and regulatory adherence at the heart of everything we do as a company.<br><br>

        We have implemented robust security measures to ensure the safety and confidentiality of your personal data. These measures are designed to prevent accidental loss, unauthorized 
        access, misuse, alteration, or disclosure of your information. We employ industry-standard practices, such as encryption and firewalls, to safeguard your data.<br><br>

        Access to your personal data is strictly limited to employees, agents, contractors, and other third parties who have a legitimate business need to access it. They are bound by contractual obligations 
        and a duty of confidentiality, ensuring that your data is processed only as instructed by us and with the necessary precautions in place.<br><Br>

        All data is collected, stored and protected in a secure location appointed by SimpleTemp, for a retention period as predefined by corresponding legislature or company policy.<br><br>

        SimpleTemp deploys encryption to secure and protect data that is stored on devices from unlawful processing or unauthorised access. Encryption is also used to protect information that is in transit.<br>
        We also use the anonymization of personal data wherever deemed prudent to ensure the rights of the individual are fully protected and observed.<br>
        In line with these principles, we are committed to the use both encryption and anonymization as a risk management tool alongside existing systems, 
        to protect the company from accidental loss, as well as from the damage or destruction of data or personal information.<br><br>


        In the event of a suspected personal data breach, we have established procedures to promptly address and mitigate the situation. If required by law, we will notify you and the appropriate regulatory 
        authorities of any such breach, providing relevant details and taking necessary actions to rectify the situation and prevent future occurrences. Our commitment to transparency and compliance means 
        that you will be informed of any breaches that may impact the security of your personal data.<br><br>

        <h3>6.	DATA RETENTION</h3>
        <p>

        While SimpleTemp must routinely collect and store data, we are committed to the rights of individuals. That’s why we retain all information and personal data for no longer than we need to. <br>
        The necessary length of retention will often be decided on a case-for-case basis, bearing in mind the rationale and original purpose surrounding data collection and retention. Decisions of this 
        nature must be made in a way that is compatible with our existing data retention guidelines under GDPR. <br><br>

        Personal data must never be kept for longer than it is needed. Consequently, employees should utilise our company’s data retention schedule as a guide to understanding SimpleTemp’s general 
        retention period time for various data categories that have been assigned based upon the purpose of the data. In line with our regulatory obligations, all data that is no longer necessary
         should be deleted and all copies must be destroyed in line with our data erasure schedule.<br><br>

        To determine the appropriate retention period for personal data, we consider the amount, nature, and sensitivity of the personal data, the potential risk of harm from unauthorised use or 
        disclosure of your personal data, the purposes for which we process your personal data and whether we can achieve those purposes through other means, and the applicable legal requirements.<br>
        Details of retention periods for different aspects of your personal data are available in our retention policy which you can request from us.<br><br>
  
        To provide the Services, the Company needs access to your Personal Data and will retain this data for as long as you maintain your Account and continue using the Services. 
        The Personal Data will be stored and transmitted on servers managed by the Company's contracted I.T. provider, responsible for the provision of the Services and the Application.  
        The Company will make reasonable efforts to ensure that reputable and well-recognized service providers, complying with all applicable laws and this Policy, are utilized.<br><br>

        The Company keeps certain data, such as transaction, location, device, and usage information, for the minimum time required by relevant laws in the jurisdictions it operates in. 
        This is done to meet regulatory, tax, insurance, and other legal requirements. Once such information is no longer needed for providing the Services, addressing support matters, 
        or improving the Services, the Company will take steps to prevent access or use of that data for any purpose other than compliance with the mentioned requirements.<br><br>

        All personal data, as specified in the "Data We Collect" section of this privacy policy, is retained in our systems until you actively choose to delete it. If you decide to delete 
        your account with us, please be advised that we will retain your personal data for a period of 6 months following the deletion of your account. This retention period is implemented 
        to accommodate potential service recoveries, inquiries, or to assist in resolving any issues you might encounter. Additionally, this period is aligned with applicable legal, tax, or 
        regulatory requirements. It ensures that should you face any problems post-deletion, we are well-equipped to assist you. After this 6-month period, your personal data will be permanently 
        removed from our systems, ensuring your privacy and data protection.<br><br>

        If you wish to delete your Account, you can request it from the Company at any time. Upon receiving such a request, the Company will delete any non-essential information. However, 
        there may be circumstances where the Company is unable to delete your Account, such as if there are outstanding credits or debits, or unresolved claims or disputes related to your 
        account. Once the issues preventing deletion are resolved, the Company will proceed to delete your Account and Personal Data as described in this policy.
        </p>
        

        <b>WHAT WE MAY NEED FROM YOU</b><br>
        We may need to request specific information from you to help us confirm your identity and ensure your right to access your personal data (or to exercise any of your other rights). This is a security 
                measure to ensure that personal data is not disclosed to any person who has no right to receive it. We may also contact you to ask you for further information in relation to your request to speed 
                up our response.
        <br><br>

        <b>TIME LIMIT TO RESPOND</b><br>
        We try to respond to all legitimate requests within one month. Occasionally it may take us longer than a month if your request is particularly complex or you have made a number of requests. In this case, 
                we will notify you and keep you updated.
        <br><br>

        <b>TIME LIMIT TO RESPOND</b><br>
        We try to respond to all legitimate requests within one month. Occasionally it may take us longer than a month if your request is particularly complex or you have made a number of requests. In this case, 
                we will notify you and keep you updated.
        <br><br>

        <b>Acquisition or Changes in Ownership</b><br>
        In the event that the website (or a substantial portion of its assets) is acquired, your information would be considered part of those assets, and may be part of those assets that are transferred.
        <br><br>

        <b>Policy Modifications</b><br>
        We may change this Privacy Policy from time to time. If/when changes are made to this Privacy Policy, we will email users who have given us permission to do so. We will post any changes here, 
        so be sure to check back periodically. However, please be assured that if the Privacy Policy changes in the future, we will not use the personal information you have submitted to us under this 
        Privacy Policy in a manner that is materially inconsistent with this Privacy Policy, without your prior consent.
        </p>


        <h3>7.	YOUR LEGAL RIGHTS</h3>
        <p>Our policy adheres rigorously to the guidelines set forth by the General Data Protection Regulation (GDPR) in the United Kingdom, ensuring full compliance. We prioritize the protection, privacy, 
                and security of your personal data as a fundamental principle. Our data handling practices are designed to guarantee lawful, transparent, and secure collection, processing, and storage of 
                your information. We are dedicated to upholding your rights as a data subject and are committed to providing you with clear and concise details about the purposes and duration of data retention. 
                Should you have any inquiries or concerns regarding the management of your personal data, we have established efficient channels to promptly address them in strict accordance with the GDPR.<br><br>
                
                We take the protection of your personal data very seriously and it is important that you know your rights within that context, which include rights to:<br>
                
                1.  You can request a copy of the personal data we hold.<br>
                2.  You have the right to object to the processing of your data based on legitimate interest, provided there are no compelling reasons for us to continue processing it.<br>
                3.  You can request that we restrict the processing of your data in certain circumstances.<br>
                4.  You have the right to request the erasure of your data if its continued use cannot be justified.<br>
                5.  You can object to decisions that significantly impact you if they are made solely through automated processes.<br>
                6.  You can withdraw your consent to our processing of your personal data for a specific purpose, although we may still retain or use your information if we have a legitimate interest or legal obligation to do so.<br>
                7.  You can request the rectification of inaccurate or incomplete data.<br>
                8.  You can make a complaint to the Information Commissioner's Office.<br>
                9.  You have the right to request that direct marketing by us to you is stopped.<br><br>

                If you have any questions or concerns about this Policy, or about the Company or Services in general, please email us at hello@simpletemp.co.uk.

        </p>
    </div>
</body>
</html>
