<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/supportStyles.css">
    <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
    />
</head>

<body>
    <header class="header">
    <div class="header-content">
        <img src="../../../documents/long-logo.png" alt="Logo" class="logo">
        <nav class="nav-links">
            <a href="#userGuide">User Guide</a>
            <a href="#dentalTempSupport">Dental Temp Support</a>
            <a href="#clinicSupport">Clinic Support</a>
            <a href="#faq">FAQ</a>
        </nav>
    </div>
    </header>

    <div class="main-content">
        <div class="container" id="userGuide">
            <div class="pdf-box">
                <a href="path_to_your_pdf_1.pdf" target="_blank">
                     <div class="pdf-content">
                        <img class="pdf-icon" src="../../../documents/pdf-icon.png"  alt="PDF Icon">
                        <p class="pdf-title">Dental Temp User Guide</p>
                    </div>
                </a>
            </div>

            <div class="pdf-box">
                <a href="path_to_your_pdf_2.pdf" target="_blank">
                    <div class="pdf-content">
                        <img class="pdf-icon" src="../../../documents/pdf-icon.png"  alt="PDF Icon">
                        <p class="pdf-title">Clinic User Guide</p>
                    </div>
                </a>
                </div>
            </div>
        </div>

        <div class="container" id="dentalTempSupport">
            <h2 class="faq-title">Important policies and Support for Hygienists/Nurses</h2>
            <div class="faq-section">
                <div class="faq">
                    <h3 class="faq-question">Canceling a Shift<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>At SimpleTemp, our hygienists and dental nurses demonstrate a strong commitment to 
                            honoring their booking commitments. </p>
                        <p>The office and its patients place their trust in you to arrive on time for the scheduled shift. 
                            SimpleTemp dental professionals have cultivated a remarkable reputation for their reliability in
                            keeping their booking commitments, and they hold themselves to this high standard of professionalism.</p>
                        <p>We consider any form of cancellation to be a serious matter, and we maintain strict guidelines regarding 
                            cancellations.</p>
                        <p>We recognize that unforeseen circumstances can arise, and we are here to support you. If you need to 
                            reactivate a blocked account, we kindly request that you provide us with a valid reason for the 
                            cancellation, allowing us to assist you accordingly.</p>
                        <p>We value open communication and understanding, and we strive to ensure a seamless experience for both 
                            our members and the offices we serve.</p>
                        <p>If you don't keep this commitment, you will be penalized from viewing Available Shifts and sending offers.
                            You will still be responsible for the shifts you had committed to before the cancellation. </p>
                        <p>Cancelling shifts after they have been confirmed have the following penalties. 
                            <br>1st time: 7 days account suspension
                            <br>2nd time: 14 days account suspension
                            <br>3rd time: 30 days account suspension
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Returning to an office?<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <img src="../../../documents/returning.png" alt="Returning to an office" class="faq-image" style="border-radius: 10px; width: 200px;; height: auto">
                        <p>Arranging shifts outside the app occasionally happens, and that's perfectly fine! However, in such cases, it becomes your responsibility to manually book the shift for proper coordination.</p>
                        <p>Simply click the ‘Request a Shift’ button located at the bottom of your homepage and fill out the form with shift details. As an added benefit, for every 10 shift requests made through SimpleTemp, 
                            you will be eligible to receive a complimentary Amazon Gift Card.</p>
                        <p>Doing this through SimpleTemp, not only guarantees coverage under all SimpleTemp policies but also safeguards your payment.</p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Get your Offer Accepted<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>We are dedicated to supporting your success and providing guidance to increase your chances of having your offers accepted!</p>
                        <p>When submitting your offer, it's important to remember that the office may receive multiple candidates for the same shift. 
                            To stand out from the competition, consider the following tips:</p>
                        
                        <ol>
                            <li>Ensure your notifications are enabled for SimpleTemp. Being among the first to submit an offer demonstrates your responsiveness 
                                and eagerness to fill the shift promptly.</li>
                            <li>As a new graduate, you may want to consider adjusting your requested hourly rate. Offices appreciate a fair and reasonable offer 
                                that balances your experience level and the shift details.</li>
                            <li>Enhance your resume presentation. While the content of your resume is crucial, the formatting and style also play a role in 
                                catching the office's attention. A visually appealing and well-organized resume reflects professionalism and attention to detail.</li>
                        </ol>
                        <p>By implementing these tips, you can increase your chances of securing shifts and impressing offices with your promptness, professionalism, 
                            and attention to detail.</p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Billable Time Policy<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>The billable time for a shift begins at the designated Arrival Time indicated by the office in the posted shift details.</p>
                        <p>The billable time for a shift is calculated from the Arrival Time to the End Time, taking into account any unpaid breaks.</p>
                        <p>While it is recommended to arrive early as a professional practice, offices anticipate your arrival at the specified Arrival Time, 
                            rather than before it. It is important to note that any time spent on-site prior to the Arrival Time is considered voluntary and 
                            cannot be billed.</p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Limiting to one account per position<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>To maintain fairness and ensure a streamlined experience, each member is permitted to have a single account per position, whether it
                             be Dental Nurse or Hygienist. Engaging in multiple accounts for the same position will lead to deactivation of the accounts, as part 
                             of our commitment to maintaining a secure and accountable environment</p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Payment<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>In the event that a dental office experiences delays or fails to provide payment to the hygienist or dental nurse following a completed shift, 
                            the authorized owner or representative of the dental office grants SimpleTemp permission to charge the outstanding amount due to the temporary 
                            staff member on the dental office's credit card. This charge will include the outstanding amount owed to the temp, as well as a processing fee 
                            to cover bank and transaction costs.</p>
                        <p>SimpleTemp will forward the payment directly to the hygienist or dental nurse without any deductions. This payment will be considered as if it 
                            has been paid directly to the temp by the dental office.</p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Dental Office Environment<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>Responsibility lies with hygienists and nurse when working at a dental office, as they are accountable for their actions. It is their duty to 
                            familiarize themselves with and adhere to the infection control protocols established by the office. If they have any concerns or discomfort 
                            regarding these protocols, it is their right and responsibility to seek clarification or choose not to participate. We fully support their decision 
                            to avoid engaging in activities that could endanger their professional license.</p>
                        <p>If a hygienist or nurse feels uncomfortable for any other reason at an office, the initial step is to communicate their concerns with the owner or 
                            office manager. Effective communication can often resolve most issues quickly, allowing the workday to proceed normally. If the problem persists and 
                            remains unresolved, the temp has the right to refuse unsafe work. In such situations, it is advisable to contact SimpleTemp via email before leaving 
                            the shift. We can offer guidance and support on the appropriate steps to take next. It is important to acknowledge that hygienists and dental nurses 
                            are independent contractors who must ultimately make decisions based on their professional judgment. While we are available to help, it's crucial to 
                            note that we are not a licensing board and do not hold authority over such matters. If they feel unsafe or uncomfortable at an office, they have the 
                            right to refuse work or leave the premises.
                        </p>
                        <p>As an office, if you have concerns about the safety of having a hygienist or assistant in your facility, it is your responsibility to ask them to leave 
                            in order to ensure the safety of your office, staff, and patients. We encourage you to attempt to resolve any misunderstandings through open communication,
                             as many situations can be resolved this way. If needed, feel free to reach out to our member support team for assistance. However, if you deem the work to 
                             be unsafe, you have the right to decline their services.</p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Privacy Policy<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>Link to<a href="/privacy"> Privacy Policy</a></p>
                        <p>To ensure privacy, it is strictly forbidden for any member to disclose another member's information to an external party. If there are payment or contact 
                            inquiries, SimpleTemp employees can assist a hygienist or dental nurse in obtaining the dental office's information, only if both parties express a desire
                             to connect. However, SimpleTemp employees are not allowed to share a hygienist or dental Nurse’s contact details with a dental office unless explicit consent 
                             is obtained from the temporary worker or the office. This restriction is in place to safeguard privacy.
                        </p>
                        
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Independent Contractor Policy<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>All users, whether dentists, dental personnel, or others, are regarded as independent 
                            contractors in relation to SimpleTemp. This classification extends to their interactions 
                            with each other as a result of using the services, and they are not considered employees or 
                            agents of SimpleTemp unless explicitly agreed otherwise. <br>
                            Payments to dental personnel are made directly to them by the relevant dental office, and SimpleTemp 
                            does not handle these transactions. As a result, SimpleTemp does not issue tax invoices, as it is the 
                            sole responsibility of the users to manage these matters.</p>
                        <p>The nature of work has undergone significant changes in recent years, and dental professionals have 
                            also experienced this transformation.</p>
                        <p>Dental offices have transitioned from relying predominantly on a permanent employee workforce to increasingly 
                            integrating independent contractors or temporary staff members.</p>
                        <p>An independent contractor is an individual who is engaged for a specific job or service provision and is not 
                            considered an employee of the office. As an independent contractor, you set your hourly rate and upon completion 
                            of the service, you issue an invoice to collect payment. The tax implications of these services may vary depending
                             on the office and its accounting practices for independent contractors.<br>This shift has provided dental businesses 
                             with the ability to adjust their staffing levels according to their specific needs. Simultaneously, independent dental 
                             professionals have gained greater freedom, flexibility, and job satisfaction in their careers.</p>
                        
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Changing Shift Hours<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>In the event that a hygienist is required to leave early due to canceled patients or downtime, they will submit an invoice for 
                            half of the reduced hours. The invoiced amount will be calculated based on the originally booked shift details and the time 
                            they arrived at your office, minus any unpaid lunch breaks if applicable. For example, if Molly was scheduled to work from 9am – 5pm 
                            (8 hours) but was asked to leave at 3pm (2 hours earlier) she would divide the time remaining by 2 (2hrs / 2 = 1 hour) and add this 
                            hour when creating her invoice. 
                        </p>
                        
                </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Infection Control<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>At SimpleTemp, we place significant importance on ensuring that dental assistants and hygienists utilizing our service are fully informed 
                            about the sterilization and infection control expectations for any shift they book through our platform.</p>
                        <p>By creating an account on SimpleTemp, the user acknowledges their agreement to and qualification for performing dental sterilization duties.</p>
                        <p>The fundamental principles of sterilization and infection control in dental practices are standardized across the UK. These guidelines are established 
                            through collaboration between Public Health, regulatory bodies like the General Dental Council (GDC), and the Ministry of Health.</p>
                        <p>In recent years, Public Health and the GDC have worked together to develop and enforce infection control guidelines, ensuring that dental offices 
                            adhere to proper measures, particularly during the ongoing pandemic.</p>
                        <p>Upon arriving at a shift, it is common for dental offices to have their own specific protocols in place. Usually, someone at the office will dedicate a 
                            few minutes to review these processes with you before the start of your shift, ensuring that you are familiar with their particular procedures.</p>
                        <p>For further details please <a href="https://www.gov.uk/government/publications/the-health-and-social-care-act-2008-code-of-practice-on-the-prevention-and-control-of-infections-and-related-guidance ">click here</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container" id="clinicSupport">
            <h2 class="faq-title">Important policies and Support for Dental Offices</h2>
            <div class="faq-section">
                <div class="faq">
                    <h3 class="faq-question">Short Notice Cancellation Policy<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>When a hygienist or dental nurse books a temping shift, they are making a commitment to your office. 
                            By doing so, they may forego other potential income-generating opportunities for that day.<br>
                            Cancelling a shift puts the hygienist/dental nurse in a challenging position as they may not have sufficient 
                            time to find a replacement shift to fill their schedule on such short notice. This can result in them being left 
                            without work for that day, impacting their income and professional commitments.
                        </p>
                        <p>Cancelling on short notice has significant implications for our entire membership:</p>
                        <ol>
                            <li>Another office that could have booked the hygienist/ dental nurse is unable to do so, resulting in 
                                missed opportunities for both parties.</li>
                            <li>The hygienist/dental nurse experiences a day of lost income, which is crucial for supporting 
                                themselves and their families.</li>
                            <li>The hygienist/ dental nurse may express dissatisfaction or spread negative feedback about SimpleTemp, 
                                impacting our reputation through word-of-mouth.</li>
                            <li>Any tarnished reputation affects our ability to consistently place excellent and reliable temping 
                                hygienists and assistants.</li>
                            <li>As offices become less confident in our service, they may reduce their usage of SimpleTemp, leading to a 
                                shrinking pool of available opportunities for other hygienists and dental nurses.</li>
                        </ol>
                        <p>Therefore, it is essential for offices to honor their commitments and provide timely notice for any necessary 
                        cancellations to ensure a thriving and reliable temporary staffing community.</p>
                        <p>In the event that an office cancels a booked and confirmed shift within 24 hours of the scheduled Arrival Time, 
                            we will make every effort to find a replacement shift for the temp. If we are able to secure a replacement, there 
                            will be no short-notice cancellation fee charged to the office.</p>
                        <p>However, if we are unable to find a replacement, we will process a payment to compensate the hygienist/assistant 
                            for 50% of the booked shift billable hours (Total time minus the unpaid break). This payment will be directly sent 
                            to the temp to account for the inconvenience caused by the cancellation.</p>
                        <p>Kindly be aware that the cancellation fee we apply is solely intended to compensate the hygienist/dental nurse for the 
                            income they lose as a result of the cancellation. It is not a placement fee charged to the office.</p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Credit Card Security<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <img src="../../../documents/returning.png" alt="Returning to an office" class="faq-image" style="border-radius: 10px; width: 200px;; height: auto">
                        <p>We securely process your credit card information and payments through Stripe UK, a global leader in online credit card authorization.<br>
                            Rest assured that your credit card details are encrypted using bank-level security measures. Even our site administrators do not have access to your information.<br>
                            Your encrypted data is transmitted directly to Stripe UK, ensuring that the owners of SimpleTemp or any unauthorized parties cannot view your credit card details.
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Payment Policy<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>Full policy details found at this link: <a href="/termsofservice">Terms of Service</a></p>
                        <p>We kindly request that you promptly remit payment to the temp hygienist or dental nurse upon receiving their invoice. To facilitate this process, 
                            we have provided simple and convenient steps within our app for seamless payment.</p>
                        
                        <p>This timely compensation fosters positive working relationships and encourages the continued availability of qualified temp hygienists and dental 
                            nurses through SimpleTemp.<br>We appreciate your cooperation in ensuring prompt payment and maintaining a mutually beneficial partnership with our 
                            valued temp professionals.
                        </p>
                        <p>
                            In accordance with our Terms of Service, we process payments for hygienist and dental nurse invoices if they office has not met the payment terms 
                            or has forgotten to make a payment.<br>To ensure a smooth process, we allow a grace period for payment transit. This provides peace of mind to 
                            SimpleTemp members, ensuring they receive the agreed-upon payment when they offer to work one of your shifts.
                        </p>
                        <p>
                            In the event that a dental office experiences delays or fails to provide payment to the hygienist or dental nurse following a completed shift, 
                            the authorized owner or representative of the dental office grants SimpleTemp permission to charge the outstanding amount due to the temporary 
                            staff member on the dental office's credit card. This charge will include the outstanding amount owed to the temp, as well as a processing fee 
                            to cover bank and transaction costs.
                        </p>
                        <p>
                            SimpleTemp will forward the payment directly to the hygienist or dental nurse without any deductions. This payment will be considered as if it 
                            has been paid directly to the temp by the dental office.
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Dental Office Environment<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>Responsibility lies with hygienists and nurse when working at a dental office, as they are accountable for their actions. It is their duty to 
                            familiarize themselves with and adhere to the infection control protocols established by the office. If they have any concerns or discomfort 
                            regarding these protocols, it is their right and responsibility to seek clarification or choose not to participate. We fully support their 
                            decision to avoid engaging in activities that could endanger their professional license.</p>
                        <p>If a hygienist or nurse feels uncomfortable for any other reason at an office, the initial step is to communicate their concerns with the owner 
                            or office manager. Effective communication can often resolve most issues quickly, allowing the workday to proceed normally. If the problem persists
                             and remains unresolved, the temp has the right to refuse unsafe work.<br>In such situations, it is advisable to contact SimpleTemp via email before 
                             leaving the shift. We can offer guidance and support on the appropriate steps to take next.
                        </p>
                        <p>It is important to acknowledge that hygienists and dental nurses are independent contractors who must ultimately make decisions based on their 
                            professional judgment. While we are available to help, it's crucial to note that we are not a licensing board and do not hold authority over such
                             matters. If they feel unsafe or uncomfortable at an office, they have the right to refuse work or leave the premises.</p>
                        <p>As an office, if you have concerns about the safety of having a hygienist or assistant in your facility, it is your responsibility to ask them to leave 
                            in order to ensure the safety of your office, staff, and patients. We encourage you to attempt to resolve any misunderstandings through open communication, 
                            as many situations can be resolved this way. If needed, feel free to reach out to our member support team for assistance. However, if you deem the work to 
                            be unsafe, you have the right to decline their services.</p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Privacy Policy<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>Full SimpleTemp <a href="/privacy">Privacy Policy</a></p>
                        <p>To ensure privacy, it is strictly forbidden for any member to disclose another member's information to an external party. If there are payment or contact 
                            inquiries, SimpleTemp employees can assist a hygienist or dental nurse in obtaining the dental office's information, only if both parties express a desire 
                            to connect. However, SimpleTemp employees are not allowed to share a hygienist or dental Nurse’s contact details with a dental office unless explicit 
                            consent is obtained from the temporary worker or the office. This restriction is in place to safeguard privacy.</p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Tips on having a Successful Shift<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <ol>
                            <li>Provide a guided tour of your office to familiarize your hygienist or dental nurse with the office and how things are typically done</li>
                            <li>Verify payment arrangements at the beginning of the shift to ensure a smooth process, as busy days may not allow time for it at the end of the day.</li>
                            <li>Review and update your contact information, including phone number and email, in your profile to enable easy communication with the hygienist, dental nurse, 
                                or SimpleTemp if needed.</li>
                            <li>Display the shift Arrival Time at least 15 minutes prior to the first patient's appointment to ensure punctuality.</li>
                            <li>Adhere to the Payment Terms you established for the shift and promptly compensate your hygienist or assistant accordingly.</li>
                        </ol>
                        <p>Joining our community entails certain responsibilities, as your actions and behavior within SimpleTemp impact not only yourself but also other dental offices within our community.</p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Temping fee per completed shift<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>We charge a service fee of £29.00 per shift for each successful placement of hygienists and £17.6 + 20% VAT = £22.00 per shift for each placement of nurses made through the SimpleTemp 
                            app. This fee is paid by the dental clinic that posts the job listing and hires a temp. </p>
                        <p>The fee for our services will be charged automatically to the credit card registered by your office. Following the successful payment, we will send you a receipt via email for your 
                            accounting purposes.
                        </p>
                        <p>You can rest assured that there is no need to remember to make the payment, and you won't be contacted by us for any follow-up calls or emails related to payment.</p>
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Changing Shift Hours<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>In the event that a hygienist is required to leave early due to canceled patients or downtime, they will submit an invoice for half of the reduced hours. The invoiced amount will be 
                            calculated based on the originally booked shift details and the time they arrived at your office, minus any unpaid lunch breaks if applicable. For example, if Molly was scheduled to 
                            work from 9am – 5pm (8 hours) but was asked to leave at 3pm (2 hours earlier) she would divide the time remaining by 2 (2hrs / 2 = 1 hour) and add this hour when creating her invoice. </p>
                        
                    </div>
                </div>
                <div class="faq">
                    <h3 class="faq-question">Infection Control<span class="faq-toggle">+</span></h3>
                    <div class="faq-answer">
                        <p>At SimpleTemp, we place significant importance on ensuring that dental assistants and hygienists utilizing our service are fully informed about the sterilization and infection control 
                            expectations for any shift they book through our platform.</p>
                        <p>By creating an account on SimpleTemp, the user acknowledges their agreement to and qualification for performing dental sterilization duties.</p>
                        <p>The fundamental principles of sterilization and infection control in dental practices are standardized across the UK. These guidelines are established through collaboration between Public 
                            Health, regulatory bodies like the General Dental Council (GDC), and the Ministry of Health.</p>
                        <p>In recent years, Public Health and the GDC have worked together to develop and enforce infection control guidelines, ensuring that dental offices adhere to proper measures, 
                            particularly during the ongoing pandemic.</p>
                        <p>Upon arriving at a shift, it is common for dental offices to have their own specific protocols in place. Usually, someone at the office will dedicate a few minutes to review these processes with 
                            you before the start of your shift, ensuring that you are familiar with their particular procedures.</p>
                        <p>For further details please <a href="https://www.gov.uk/government/publications/the-health-and-social-care-act-2008-code-of-practice-on-the-prevention-and-control-of-infections-and-related-guidance ">click here</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="faq">
                    <h2 class="faq-title">Frequently Asked Questions</h2>
                    <div class="faq-section">
                        <div class="faq">
                            <h3 class="faq-question">How do I download the SimpleTemp app on my phone, tablet, or desktop?<span class="faq-toggle">+</span></h3>
                            <div class="faq-answer">
                                <p>To install the app on your mobile, here are the links to the app stores:</p>

                                <div style="display: flex;">
                                    <img src="../../../documents/appStore.png" alt="applestore">
                                    <img src="../../../documents/googlePlay.png" alt="googlestore">
                                </div>
                                
                                <p>It's really helpful to have it installed, but you can still use SimpleTemp without the app.
                                    <br>Just login to your account here:  
                                </p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3 class="faq-question">Does SimpleTemp  charge a placement fee if we offer a temp a permanent position?<span class="faq-toggle">+</span></h3>
                            <div class="faq-answer">
                                
                                <p>Absolutely not!<br>
                                    If you find the perfect match through our app and decide to hire them permanently, we couldn't be happier for both of you.<br>
                                    Our philosophy is straightforward: Dental personnel are professionals who should have the freedom to work whenever and wherever they choose.
                                </p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3 class="faq-question">How should our office verify temporary Hygienists and nurses’ credentials?<span class="faq-toggle">+</span></h3>
                            <div class="faq-answer">
                                <p>We prioritize the importance of booking qualified hygienists and assistants for your practice. Your peace of mind is our top priority when it comes 
                                    to securing highly skilled professionals.</p>
                                <p>During the registration process and when booking the first shift, we make diligent efforts in good faith to verify the active licensing status of 
                                    Temps with the relevant regulatory body. However, given the large number of dental professional members across the United Kingdom, it is not feasible for SimpleTemp to verify and update their status on a daily basis.</p>
                                
                                <p>As SimpleTemp does not act as an agency representing any parties and the employment relationship exists between the booking office and the hygienist/nurse, it is ultimately the responsibility of the dental office to verify 
                                    the validity of qualifications and licensing credentials. Please refer to SimpleTemp' Terms of Service for further clarification.
                                </p>
                                <p>
                                    When a shift is booked, you receive information about the temp’s year of graduation and their license number. To ensure accuracy, you can verify 
                                    their status on the regulatory body's website. It is also recommended that the temp brings a copy of their license for verification by your office before the shift starts.
                                </p>
                                <p>
                                    When receiving an offer from a temp for a shift, you have access to the candidate's resume and graduation details. With this feature, you have the opportunity to approve any temp before they are booked and confirmed for your job.
                                </p>
                                <p>Furthermore, our hygienist and nurse members are assigned a rating based on feedback from other dental offices after completing a shift. This rating system helps provide additional insights about their performance.</p>
                                <p>The General Dental Council (GDC) is the regulatory body for dentistry in the entire UK, including England, Scotland, Wales, and Northern Ireland.<br>
                                <a href="https://www.gdc-uk.org">https://www.gdc-uk.org</a>
                                </p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3 class="faq-question">What should I choose for my hourly rate?<span class="faq-toggle">+</span></h3>
                            <div class="faq-answer">
                                <p>As a member of SimpleTemp, whether you are a hygienist or dental nurse, you have the freedom to determine your own hourly rate. </p>
                                <p>When choosing your rate, you will see a “preferred” rate, which means it is recommended by the dental clinic. The closer you choose your rate 
                                    to the preferred one, the higher the chances of getting accepted by the clinic for the shift.
                                </p>
                            </div>
                        </div>
    
                        <div class="faq">
                            <h3 class="faq-question">Can I book multiple temps on the same day?<span class="faq-toggle">+</span></h3>
                            <div class="faq-answer">
                                
                                <p>Yes, you are allowed to book multiple temps per day.<br>Note: You will have to post a separate shift for each temp needed. </p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3 class="faq-question">I have paid for a shift, however the invoice has been re-sent to me. What should I do?<span class="faq-toggle">+</span></h3>
                            <div class="faq-answer">
                                <p>Email us at <a href="hello@simpletemp.co.uk">hello@simpletemp.co.uk</a>, or use our help center ticketing system from the app to contact us with a proof of payment and we will take care of the rest.
                                </p>
                                
                            </div>
                        </div>
                        <div class="faq">
                            <h3 class="faq-question">What if a temp cancels a confirmed shift?<span class="faq-toggle">+</span></h3>
                            <div class="faq-answer">
                                <p>In the event of a cancellation, you will receive immediate notifications via email and app. The canceled job is automatically reposted on the system, and an urgent notice is sent out to all available 
                                    hygienists and dental nurses. Our Member Support team also personally follows up with all available temps.</p>
                                <p>Any temporary worker who cancels a confirmed shift faces penalties, including being temporarily blocked from viewing any Available Jobs. The significance of honoring booked shifts is strongly emphasized 
                                    to all hygienists and dental nurses, not only during the sign-up process but also every time they schedule a shift.</p>
                                <p>While cancellations are infrequent in most temping situations, we take them seriously, manage them promptly, and make every effort to find a replacement as swiftly as possible.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <script src="/js/support.js"></script>
        </body>

        <footer class="footer">
                <div class="footer-section">
                <h4>Title</h4>
                <a href="#">Link</a>
                <!-- Add as many links as needed -->
                </div>
                <!-- Add as many footer sections as needed -->
        </footer>

</html>