<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of service</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="terms-of-service">
        <h1>Terms Of Service</h1>
        <p>Last Updated: May 19, 2023</p>

        <p>This is the Terms of Service of the SimpleTemp Limited website and mobile application  
                (‘<b>Company</b>’, ‘<b>we</b>’, ‘<b>us</b>’, or ‘<b>our</b>’).It describes our 
                policies and procedures regarding the collection, use, and disclosure of your 
                information when you use our services (‘<b>Services</b>’).</p>

        <p>Please read these Terms carefully before using the Services. By accessing or using the 
        Services you agree to be legally bound by these Terms and all terms, policies and guidelines 
        incorporated by reference in these Terms. If you do not agree with these Terms in their entirety,
         you may not use the Services. The Services are not intended to be used by children. You must be at 
         least of the age of majority to use the Services.</p>

        <b>General</b><br>
        <p>These Terms categorize the users of the Services into two groups: "Dentists" and "Dental Personnel." 
        Dentists include individuals, companies, or other entities seeking temporary contract support for dental 
        practice, while Dental Personnel refers to users searching for temporary work opportunities as dental 
        practice support personnel, such as dental hygienists and dental nurses. Throughout these Terms, the term 
        "Customer" is used to refer to registered users of the Services, encompassing both Dentists and Dental 
        Personnel. Additionally, all individuals utilizing the Services, whether registered Customers or unregistered 
        casual browsers of the Application, are collectively referred to as "Users" in these Terms.</p>

        <p>SimpleTemp reserves the right to make changes or amendments to the terms of service outlined in these Terms, 
        as well as any policies or guidelines related to the Services, at its sole discretion and at any time. In the 
        event of such changes, we will notify you through the email address provided during registration, if applicable, 
        or by displaying a notice within the Application upon your next access. If you disagree with the proposed changes, 
        you have the option to cancel your account with us. However, you will still be responsible for any outstanding balance 
        due up until the cancellation date. Dentists will also be liable for charges incurred for the placement of Dental 
        Personnel prior to termination. Unless stated otherwise, any modifications or revisions will be effective immediately 
        upon being posted on the Application. By continuing to use the Services after such changes or modifications, you 
        indicate your acceptance of the revised terms.</p>

        <p>It is important for you to periodically review the Terms, as well as any policies and documents referenced within them, 
        to fully comprehend the terms and conditions governing your use of the Services. The "last updated" date will always be 
        displayed at the top of the Terms. If you do not agree to any revised Terms, it is necessary for you to discontinue your 
        use of the Services. Please note that the Services are intended for your personal use only. You are prohibited from reselling, 
        leasing, or providing them to others, except as explicitly permitted through the Application.</p>

        <p>SimpleTemp is not an employment or placement agency. Instead, it functions as a self-service platform that enables dental 
        professionals to discover and secure employment opportunities, usually of short-term and short-notice nature. SimpleTemp 
        applies a fee to Dentists for each placement of Dental Personnel into temporary positions.</p>


        <p>All Users, whether Dentists, Dental Personnel or others, are considered self-employed or independent contractors rather than employees 
        with respect to the booking dental office.  Personnel are not employees of SimpleTemp. Interactions with each other (the users) using 
        SimpleTemp service is a mutual agreement decided by the Dentists and Dental Personnel and not as employees or agents thereof. 
        Payments to Dental Personnel are made directly to them by the applicable Dentist, and not by SimpleTemp. This is important to note as 
        it affects their tax obligations. Self-employed individuals are responsible for paying their own National Insurance Contributions (NIC). 
        The specific NICs applicable to Dental Personnel will depend on their earnings and circumstances. They should register for self-employment 
        with HM Revenue and Customs (HMRC) and make the necessary contributions.</p>

        <p>As for income tax Dental Personnel are responsible for reporting their income and paying income tax on their earnings. 
                They should register as self-employed with HMRC and complete annual self-assessment tax returns to declare their 
                income and calculate their tax liability.</p>

        <b>Up-to-Date Certification and Documentation</b><br>
        <b>Mandatory Document Upload: </b>For ensuring the credibility and qualifications of our registered dental nurses and hygienists, 
        the SimpleTemp app requires the submission of specific documents, including but not limited to:<br>
        <p>
                •	Proof of Work Document with its expiry date
                •	Indemnity Insurance Document and its expiry date
                •	DBS Certificate and its issue date 
                •	GDC Certificate and its expiry date
                •	Hep B Document
        </p>

        <b>Expiration and Renewal:</b>All documents that have an expiration or issue date need to be current at the time of submission. 
        It is the responsibility of the dental professional to ensure their documents are up to date. Upon the expiration of any document, 
        users are required to upload the renewed document to continue availing services through SimpleTemp.<br>
        <p>
                •	Proof of Work Share Code: 3 days before expiry you will receive a reminder email to provide a new share code and expiry date.
                •	Indemnity Insurance: 3 days before expiry you will receive a reminder email to upload your new insurance document.
                •	DBS: 1.5 years (547 days) after the issue date you must upload a new DBS document.
                •	GDC certificate: On the July 31st of every year, you must upload your renewed GDC document.
  
        </p>

        <b>User Responsibility: </b>While SimpleTemp endeavors to remind users of impending expirations, it remains the sole responsibility 
        of the dental professional to keep track of their documentation expiry dates and ensure timely renewals.<br>

        <b>Failure to Update:</b> Users failing to update expired documents may face suspension or termination of their accounts on 
        SimpleTemp. We reserve the right to suspend or terminate accounts that are found to have outdated or invalid documents.<br><br>

        <b>Verification of Professional Documents: Clinic's Responsibility</b><br>
        <b>Provision of Documents: </b><br>
        <p>Our platform serves as a medium for dental nurses and dental hygienists to share certain professional documents, including 
                but not limited to their DBS, GDC, Hep B, Indemnity Insurance, and Proof of Right to Work, with clinics. This feature 
                is provided to facilitate the process of evaluating potential candidates for shifts.</p>

        <b>Clinic's Due Diligence: </b><br>
        <p>While the platform allows for the upload and sharing of these documents, clinics that use the platform agree and 
                understand that it is their sole responsibility to undertake comprehensive checks and verification processes of all 
                provided documents. The accuracy, authenticity, and validity of these documents must be independently verified by the 
                clinic before accepting any dental nurse or hygienist for a shift. While SimpleTemp checks for proof of right to work, 
                clinics should independently verify this documentation at the onset of every shift. This practice serves as a crucial 
                step in confirming the identity of the temporary personnel and ensuring a smooth and successful temporary work arrangement.</p>

        <b>Disclaimer of Liability:</b><br>
        <p>SimpleTemp takes an active role in ensuring the integrity of the information exchanged within the platform. As part of its 
                commitment to facilitating seamless connections between dental professionals and clinics, SimpleTemp verifies the 
                accuracy and up-to-dateness of the documents submitted by dental personnel. This proactive step is aimed at equipping 
                dental clinics with the necessary and reliable information needed for their evaluation process. SimpleTemp’s continuous 
                monitoring service aims to support clinics in ensuring the validity of professional documents. However, clinics absolve 
                SimpleTemp of any liability, claim, or dispute that might arise due to potential discrepancies or issues in shared documents, 
                understanding that our platform provides preliminary and continuous checks, but not exhaustive verifications.</p>
        <p>However, it is essential to emphasize that while SimpleTemp conducts this verification process, the ultimate accountability for 
                verifying the authenticity and completeness of the documents lies solely with the dental clinics. This additional layer of 
                verification by the dental clinics ensures that they can confidently make informed decisions regarding potential hires.<br>
                By having dental clinics actively review and authenticate the documents, SimpleTemp aims to establish a collaborative and transparent environment. 
                This approach underscores the mutual understanding between dental professionals and clinics, where each party plays a critical role 
                in ensuring the accuracy and reliability of the information exchanged.</p>

        <b>Feedback and Reporting:</b><br>
        <p>We encourage clinics to provide feedback if they encounter discrepancies or issues related to the shared documents. 
                While SimpleTemp is not liable for content accuracy, we strive to maintain a platform of integrity and may take 
                appropriate actions based on feedback received.</p>

        <b>Privacy Policy</b><br>
        <p>Kindly refer to SimpleTemp's privacy policy, accessible at www.simpletemp.co.uk/privacy (the "Privacy Policy"), to 
        understand how SimpleTemp gathers, utilizes, and shares personally identifiable information from its users. Your use of the 
        Services signifies your consent to our utilization, gathering, and disclosure of personally identifiable information as outlined 
        in the Privacy Policy.</p>

        <p>
        We want to assure our customers that we take the security of their payment information seriously. Therefore, we want to emphasize 
        that we comply with the Payment Card Industry Data Security Standard (PCI-DSS) to ensure the protection of sensitive customer data.
        The PCI-DSS is a set of security standards established by the payment card industry to safeguard the handling, storage, and 
        transmission of cardholder information. By adhering to these standards, we maintain a secure environment for our customers' 
        payment transactions.<br>
        Our commitment to PCI compliance includes implementing stringent security measures, employing industry best practices, and 
        regularly assessing and enhancing our systems to meet the evolving security requirements. We work diligently to maintain the 
        confidentiality, integrity, and availability of customer payment data.<br>
        Please note that while we strive to provide a secure platform, it is essential for customers to also take necessary precautions 
        to protect their own payment information, such as using strong passwords, keeping their account credentials confidential, and 
        promptly reporting any suspicious activities.<br>
        By using our services, customers can have confidence that we have implemented the necessary safeguards to comply with PCI 
        standards and protect their payment information.</p>

        <b>Registration Data, Account Security</b><br>
        <p>SimpleTemp is committed to complying with applicable laws and regulations regarding the collection of personal information 
                from minors. We do not knowingly collect personal information from children without appropriate parental consent, as 
                required by law. If we accidentally obtain information from a child without consent, we will promptly delete such 
                information in accordance with applicable laws.</p>
        
        <p>By creating an account on the Application, you agree to the following terms:<br>
        1.  You will provide accurate, current, and complete information as prompted by any 
        registration forms on the Application ("Registration Data").<br>
        2.  You will take responsibility for maintaining the security of your password.<br>
        3.  You will promptly update the Registration Data and any other information provided to SimpleTemp to ensure its accuracy, 
        currency, and completeness.<br>
        4.  You accept all risks associated with unauthorized access to the Registration Data.<br>
        Please note that you are solely responsible for all activities occurring on your SimpleTemp account, as well as any charges 
        incurred through your account. You guarantee that the information provided in the registration process is correct and true, and that 
        you possess the necessary rights and authority to provide such information.
        </p>

        <p>Please note that individual accounts are restricted to one account per hygienist, dental nurse, admin, and associate dentist. 
                Creation or attempted creation of multiple accounts by the same individual may result in permanent removal or banning 
                from the service.</p>
        
        
        <b>Payment, Charges and Taxes</b><br>
        <p>SimpleTemp provides the platform for downloading, joining, and publishing or viewing jobs completely free of charge.
        We do not currently impose any costs on Dental Hygienists and Dental Nurses for utilizing our Services. The Site contains detailed 
        information regarding the fees and other charges associated with using the Application. Please note that these fees and charges are 
        subject to change, and we will notify you at least 30 days in advance of any updates. Your continued use of the Services following 
        such changes indicates your acceptance of the revised fees and charges, effective from the date of the change. It's important to 
        understand that any fee or charge adjustments will not be applied retroactively to the billing period in which the changes occur. 
        Even if your account is terminated or these Terms are terminated, you are still obligated to fulfill any outstanding fee payments.
        </p>

        <p>When a Dental Clinic chooses to hire and book a Hygienist for a job, a fee of £28 per placement and to book a dental nurse a 
                fee of £20 will be charged after the successful completion of the job. This fee will be deducted from the User's
                 account at midnight, based on the number of shifts completed on that day. The fee is applied per shift, so if a user 
                 books three Dental Personnel, they will be charged for each shift.</p>

        <p>SimpleTemp has partnered with Stripe, a payment processing platform, to facilitate direct payment from Users to Dental Personnel 
                through the Application, ensuring convenience and faster pay days.<br>
        Users bear sole responsibility for accurately submitting their payment information into the Platform. SimpleTemp disclaims any 
        responsibility or liability for data entry errors made by Users.
        </p>

        <p>
        Please be aware that the placement fees charged to Dentists for the Service apply to any temporary placement of Dental Personnel 
        registered with us, regardless of whether the placement was arranged through the Application. This includes placements made after 
        the termination of the Dentist's account or these Terms. If you are a Dentist and arrange any such temporary placement outside of 
        the Application, you will be billed the placement fees. It is essential for both the Dental Personnel and the Dentist to promptly 
        notify us of any placements arranged outside of the Application. Failure to do so may result in the termination of your account 
        (please note that the payment obligation persists even after termination).
        </p>

        <p>
        We securely process your credit card information and payments through Stripe UK, a global leader in online credit card authorization. 
        Rest assured that your credit card details are encrypted using bank-level security measures. Even our site administrators do not 
        have access to your information. Your encrypted data is transmitted directly to Stripe UK, ensuring that the owners of SimpleTemp 
        or any unauthorized parties cannot view your credit card details.
        </p>

        <p>
        The fees mentioned above do not include taxes and mandated processing costs. However, we reserve the right to calculate and add 
        any taxes and/or fees required by applicable legislation, such as sales tax, value-added tax (VAT), and other taxes and fees. 
        Taxes and levies of this nature will be clearly listed on the Platform's digital invoices.
        </p>

        <p>
        Professional Users and Clinic Users have the obligation to handle any income tax or other applicable taxes associated with their 
        employment relationship. SimpleTemp does not withhold or remit income tax on behalf of the Users. Therefore, it is the responsibility 
        of Professional Users to fulfill their legal obligations by reporting and paying the required taxes.
        </p>

        <p>
        SimpleTemp considers hygienists and dental nurses as independent contractors or temporary employees of the dental office, and payment 
        is always made directly to them by the dental office. It's important to note that hygienists and dental nurses are not employees of SimpleTemp. 
        The preferred method of payment is direct bank transfer or cheque on the day of the shift.
        </p>

        <p>
        Upon receiving and reviewing the invoice from the hygienist or dental nurse, Dentists can simply click on Pay Now in our system 
        and rate the hygienist or dental nurse and proceed with either writing a cheque or transferring money to the temp’s bank account. 
        The payment must comply to the payment terms specified for the shift.    
        </p>

        <p>After the completion of each temporary shift, it is the responsibility of the hiring dental clinics to promptly collect all 
                necessary and accurate information from the temporary dental personnel. Simultaneously, it is the responsibility of the
                 dental personnel to provide this information, including specifying the payment terms in case the clinic overlooks them.
        </p>

        <p>
          	This information is crucial for ensuring timely and accurate payment for services rendered. SimpleTemp does not assume 
                responsibility for the collection of this post-shift information, and it is imperative that dental clinics collaborate 
                directly with the temporary dental personnel to obtain the required details. Furthermore, dental clinics are required to 
                process payment for completed shifts within a period of 2 business days from the completion of the respective shift.      
        </p>

        <p>
        If a dental office fails to make timely payments to the Dental Personnel for completed shifts according to the specified payment terms, SimpleTemp 
        is authorized to take action. With the consent of the dental office and its authorized owner/representative, SimpleTemp may process charges on their 
        credit card. These charges will include the outstanding amount owed to the Dental Personnel, as well as a processing fee to cover bank and transaction costs.
        </p>

        <p>
        Once the charges are processed, SimpleTemp will promptly transfer the full payment to the Dental Personnel without deducting any fees. This payment will be 
        considered as if it has been made directly by the dental office to the Dental Personnel.
        </p>

        <p>
        Please keep your payment card information (Debit and Credit Card) current.<br>
        All charges and payments will be facilitated by SimpleTemp using the preferred payment method specified in your account. If your primary payment method in the 
        account is found to be expired, invalid, or unable to be charged, you consent to SimpleTemp using a secondary payment method from your account, if one is available. 
        Charges made by you are considered final and non-refundable, unless otherwise determined by SimpleTemp. We understand that mistakes or extra charges may occur, and 
        in such cases, we are happy to offer refunds. Refunds will be processed back to your original payment method. However, please note that refunds are only permitted 
        in situations where an additional charge or an error has occurred. We strive to provide a seamless payment experience and address any issues promptly and fairly.
        </p>

        <p>
        SimpleTemp retains the right to modify or adjust the Charges at any time. Notice of such changes will be posted within the Application or sent electronically to users.<br>
        This policy ensures that in cases of payment delays or delinquency, SimpleTemp has the authority to step in, process the necessary charges, and ensure that the Dental 
        Personnel receive the payment owed to them.
        </p>

        <b>SimpleTemp Shift Cancelation Policy</b><br>
        <p>SimpleTemp retains the authority to examine, modify, or exempt any cancellation policies in any situation deemed necessary, including extraordinary circumstances, 
                national emergencies, or uncontrollable events, for the benefit and well-being of the SimpleTemp community.</p>

        <p>
        <b>a.  Dental Personnel Cancellation Policy</b><br>
        If a Dental Personnel cancels a confirmed shift, their SimpleTemp account will undergo an internal review process. Depending on the outcome of the review, their account 
        may be paused, frozen, or fully removed from the SimpleTemp platform.
        </p>

        <p>
        While SimpleTemp strives to provide payment to Dental Personnel in the event of a dental office cancellation, SimpleTemp reserves the right to waive this payment 
        if the cancellation is due to an act of God, catastrophic event, or force majeure. SimpleTemp also retains the right to review, adjust, or waive any cancellation 
        policies in response to extreme conditions, national emergencies, or acts of God, with the aim of protecting the SimpleTemp community.
        </p>

        <p>
        Dental Personnel who cancel their confirmed shifts will face penalties as outlined below:<br>
           •  1st cancellation with a penalty: 7-day restriction.<br>
           •  2nd cancellation with a penalty: 14-day restriction.<br>
           •  3rd cancellation with a penalty: 30-day restriction.<br>
        Additionally, any instances of "no call, no show" will result in an immediate restriction on the Personnel’s 
        account and may lead to indefinite blocking.
        </p>

        <p>
        We reserve the right to block or remove any hygienist and dental nurse at any time at our discretion. Note: a temp who is blocked/penalized due to a shift cancellation 
        may provide documentation validating that their cancellation was related to a disability which SimpleTemp may consider in determining whether to waive the block.
        </p>

        <p>
        <b>b.  Dental Practice Cancellation Policy</b><br>
        If a dental office cancels a booked and confirmed shift with less than 24 hours' notice, we will make every effort to find a replacement shift for the hygienist or dental nurse. 
        If we are successful in finding a replacement, there will be no short-notice cancellation fee. However, if we are unable to find a replacement shift, the dental office agrees 
        to compensate the hygienist or dental nurse for half of the booked shift hours (billable). To calculate the compensation, we multiply the hourly rate by [0.5 x (billable shift hours)]. 
        For example, if an office books an 8-hour shift with 30 minutes of unpaid break (billable=7.5 hours), at £40 per hour and cancels it with short notice, resulting in no replacement shift being 
        found, the compensation would be [(0.5 x 7.5 hours)] x £40 per hour, which amounts to £150.00. It's important to note that this compensation is solely intended to cover the lost wages of the
         hygienist or dental nurse due to the short-notice cancellation, and no placement fee is charged for cancelled shifts.
        </p>

        <p>
        <b>Intellectual Property, Copyright and Trademarks</b><br>
        In these Terms, the content available through the Services, including information, data, logos, marks, designs, graphics, pictures, sound files, and other files, is referred to as "Content." 
        Content provided by Users is called "User Content." For example, information about a Dentist's dental practice or a rating provided about a particular Dental Personnel is considered User 
        Content of that Dentist, and information about a Dental Personnel's work history or a rating provided about a particular Dentist is considered User Content of that Dental Personnel. 
        User Content is the property and responsibility of the User.
        </p>

        <p>
        Except for User Content, the Services, all Content, the Application, and all software used to create and operate the Services are the property of SimpleTemp or its licensors. They are protected by 
        United Kingdom and international copyright laws, and all rights are expressly reserved. All trademarks, registered trademarks, product names, and company names or logos mentioned in the Services 
        belong to their respective owners. Mention of any products, services, processes, or other information does not constitute or imply endorsement, sponsorship, or recommendation by SimpleTemp.
        </p>

        <p>
        You are responsible for your User Content. We are not responsible for any loss or damage your User Content may cause to you or others. Ratings you give using the Application may be viewed by other 
        Users, so it is important to act responsibly when reviewing or rating others. While we are not obligated to do so, we have the discretion to remove, screen, or edit User Content posted or stored 
        on the Services without notice, at any time and for any reason. It is your sole responsibility to maintain copies of and replace any User Content you post or store on the Services. If you use the 
        Services in a way that allows third parties to view or access your User Content, you agree that we are permitted to provide them with the User Content, and we are not responsible or liable for your 
        provision or their use of such User Content.
        </p>

        <p>
        <b>Granting SimpleTemp a Limited License for Your User Content</b><br>
        In order to ensure the safety and security of all users of Services, it is important for us to verify your identity and prevent fraudulent activities. This may involve sharing your data or taking other 
        necessary actions. You are responsible for any transactions conducted using your credentials, unless you inform us that they have been stolen.
        </p>

        <p>
        We do not claim ownership of your User Content, but we require the right to use it in order to operate the Application and provide the Services now and in the future. This means that if you post 
        information about your dental practice or write a review about another User, we need your permission to display that User Content on the Services and sublicense it to other Users for viewing.
        </p>

        <p>
        By posting or distributing User Content through the Services, you grant SimpleTemp and its affiliates a non-exclusive, royalty-free, transferable right to use, display, perform, reproduce, 
        distribute, publish, modify, adapt, translate, and create derivative works from your User Content. You represent and warrant that you own or have the lawful right to post and distribute the 
        User Content, and that its use and transmission comply with these Terms and do not violate any rights or cause harm to any person or entity. If your User Content is intended for other Users, 
        you also grant us and our affiliates a non-exclusive, royalty-free, transferable right to sublicense the User Content to those Users for their use in connection with the Services. These licenses 
        are non-exclusive, royalty-free, and transferable because you retain the right to use your User Content elsewhere, we are not required to pay you for its use on the Services, and we may transfer 
        these licenses to any successor operator of the Services. Our rights to modify, adapt, translate, and create derivative works from your User Content are necessary for processing it within the 
        Services. Please note that certain information about yourself may be displayed to other Users, and others may post reviews or ratings about you on the Application. You can find more information 
        about controlling the sharing and visibility of your information on the Site.
        </p>

        <p>
        <b>Granting You a Limited License for Our Content</b><br>
       SimpleTemp grants you a limited license to access and view the Services and the Content available to you. This license allows you to view, copy, and print the Content for your personal use, as 
       long as you adhere to the following conditions: (i) you may not modify or create derivative works of the Content; (ii) you may not distribute or display the Content, except for page caching; 
       (iii) you may not remove or modify any copyright, trademark, or other proprietary notices; (iv) you may not use automated methods to gather data from the Services; and 
       (v) you may only use the Services and the Content for their intended purpose. Any unauthorized use of the Content is strictly prohibited and may result in termination 
       of your license and account. You must ensure that your use of the Services and the Content complies with this license, respects the rights of others, and complies with applicable laws. 
       For any additional uses of the Content, please contact SimpleTemp for permission.
       </p>

       <p>
        <b>Secure Service</b><br>
       We prioritize reliability and security in providing our services. We invest significant effort in maintaining a service that operates smoothly and ensuring the safety of your data. We utilize 
       trusted hosting services and employ advanced security technologies to create a secure environment. While we strive for the best, it's important to note that no system is entirely infallible, 
       and the internet inherently carries some risks. Factors like hosting services, internet intermediaries, and your internet service provider may affect reliability. By using our service, you 
       acknowledge these risks and take responsibility for choosing a technology that may not offer flawless security or reliability.
       </p>

       <p>
        <b>Third Party Interactions</b><br>
       SimpleTemp may provide services, including payment processors and intermediaries, for your convenience. It is important to note that your use of third-party sites, content, or services, collectively 
       referred to as "Third-Party Materials," is at your own risk. SimpleTemp does not endorse or have any affiliation with these Third-Party Materials, and their inclusion in the application does not 
       imply our endorsement or sponsorship. We assume no responsibility for the quality, policies, or reliability of Third-Party Materials or websites linking to our services. Once you leave our application, 
       our terms and policies no longer apply, and you are subject to the terms and policies of the Third-Party Services. It is recommended that you review the terms, policies, and privacy practices of 
       any Third-Party Materials or services before engaging in any transactions. Furthermore, SimpleTemp is not responsible for the actions or omissions of other users, including individuals you engage 
       with through our services. It is your responsibility to establish appropriate agreements with such individuals for any engagements facilitated through the application.
       </p><br><br>

       <p>
        <b>Inactive Accounts, Prohibited Use and Termination</b><br>
        <b>a.  Inactive Accounts</b><br>
       If your account remains inactive for a period of two months, SimpleTemp reserves the right to deactivate it. Deactivated accounts are not permanently deleted; they are stored and can be reactivated upon 
       request. We will send you an email notification if we decide to deactivate your account. If you anticipate that your account will be inactive and wish to prevent deactivation, please inform us in advance 
       at hello@Simpletemp.co.uk. In the event that your account remains inactive after deactivation and we do not receive any communication from you, we may terminate it without further notice. Both you and 
       SimpleTemp have the right to terminate your use of the Services and your account, as well as these Terms, at any time.
       </p>

       <p>
        <b>b.  Prohibited Use</b><br>
       You agree to use SimpleTemp's services responsibly and lawfully. This includes refraining from engaging in any illegal, fraudulent, or harmful activities. It is important to respect the intellectual property 
       and privacy rights of others and to avoid sharing any content that is offensive or abusive. Additionally, you must not transmit viruses or disrupt computer systems. Commercial exploitation of the services is 
       strictly prohibited, as is using automated means to access the website without prior permission. Harassment, discrimination, and unauthorized access attempts are not allowed. Violation of these terms may 
       result in service rejection, account suspension, or limited access at the discretion of SimpleTemp. It is your responsibility to comply with local laws and regulations. SimpleTemp reserves the right to 
       restrict access to the services for certain individuals, entities, geographic areas, or jurisdictions as deemed necessary. If you are a minor, a competitor, or have been restricted or suspended from using 
       the services, you are not permitted to connect to and use SimpleTemp.
       </p>

        <p>
        <b>c.  Termination</b><br>
       Termination by SimpleTemp: We reserve the right to terminate these Terms and, at our discretion, limit, suspend, modify, or revoke your access to any or all of the services we provide, including any 
       features or aspects of those services, for any reason and at any time. We will make reasonable efforts to notify you through the services or using the email or phone number associated with your account 
       before taking any action that restricts your access, unless legal obligations prevent us from doing so or we determine that your continued use poses a risk of loss or harm to us or others.
       </p>

       <p>
        Termination by You: Unless otherwise specified in specific product terms, you have the right to terminate any service provided by us at any time and for any reason by closing your account or 
        following the termination process described here. Termination will be effective upon the date of account closure.
       </p>

       <p>
        Effect of Termination: Upon termination, you will no longer have access to or the ability to use the services. Additionally, unless prohibited by applicable law, you will lose access to any 
        information you have submitted through the services, and all rights granted to you under these Terms will cease. Termination does not release you from any outstanding payment obligations to us 
        or third parties, nor does it nullify any third-party payment authorizations. The following provisions will remain in effect even after the termination of these Terms: Our Intellectual 
        Property, End User Content, Feedback, Disclaimer of Warranties, Limitation of Liability, Third Party Services, Assignment and Third-Party Beneficiaries, and Miscellaneous. To the fullest extent 
        permitted by law, we shall not be held responsible for any loss, damage, harm, or consequences, including delays or inconveniences, resulting from the termination.	
        The handling of any Personal Data stored in the Account will follow the guidelines stated in our Privacy Policy.
       </p>

       <p>
        <b>Infection Control</b><br>
        At SimpleTemp, we place significant importance on ensuring that dental assistants and hygienists utilizing our service are fully informed about the sterilization and infection control expectations 
        for any shift they book through our platform.
       </p>

       <p>
        By creating an account on SimpleTemp, the user acknowledges their agreement to and qualification for performing dental sterilization duties.
        The fundamental principles of sterilization and infection control in dental practices are standardized across the UK. These guidelines are established through collaboration between Public Health, 
        regulatory bodies like the General Dental Council (GDC), and the Ministry of Health.
       </p>

       <p>
        In recent years, Public Health and the GDC have worked together to develop and enforce infection control guidelines, ensuring that dental offices adhere to proper measures, particularly during the ongoing pandemic.<br>
        Upon arriving at a shift, it is common for dental offices to have their own specific protocols in place. Usually, someone at the office will dedicate a few minutes to review these processes with you before the start of 
        your shift, ensuring that you are familiar with their particular procedures.<br>
        For further details please visit: https://www.gov.uk/government/publications/the-health-and-social-care-act-2008-code-of-practice-on-the-prevention-and-control-of-infections-and-related-guidance 
       </p>

       <p>
         <b>No representations or Warranties</b><br>
        SimpleTemp does not guarantee that the Services, including the application, are free from defects, viruses, or other harmful components. The company is not liable for any damages or losses resulting from hacking or 
        unauthorized access to the Services. It is your responsibility to adequately protect and backup your data and equipment used with the Services. By using the Services, you agree to indemnify the company and waive any 
        claims for lost data, work delays, or lost profits. The company disclaims all warranties not expressly stated in these terms, including implied warranties of merchantability, fitness for a particular purpose, 
        and non-infringement. Additionally, the company does not guarantee the reliability, timeliness, quality, suitability, or uninterrupted availability of the Services. The information provided to you is not guaranteed 
        to be of a certain quality, suitability, or safety. Your use of the Services is at your own risk, to the maximum extent permitted by law.
       </p>

       <p>
         <b>Indemnify</b><br>
        You agree to indemnify and hold harmless SimpleTemp, its subsidiaries, affiliates, licensors, service providers, employees, agents, officers, and directors from any and all claims, losses, liabilities, expenses 
        (including attorneys' fees), arising from: (a) your use of the Services or services obtained through the Services; (b) your breach of the Terms, representations, warranties, or agreements mentioned in the Terms, 
        or any applicable laws or regulations; (c) SimpleTemp's use of your information provided in your Account; (d) your infringement of any third-party rights, including intellectual property rights, publicity rights, 
        confidentiality, or privacy rights; (e) any disputes or issues between you and a third party; or (f) any mistakes, errors, or negligence in your employment or engagement of another user of the Services. SimpleTemp 
        reserves the right to assume the exclusive defense and control of any matter subject to indemnification by you, in which case you agree to cooperate with our defense.
        </p>

        <p>
         <b>Communications</b><br>
        SimpleTemp may provide notices to you through various means, such as email, telephone, or by posting notices on the Application. It is your responsibility to regularly check the Application for any posted notices.<br>
        User Submissions: If you submit or post any information, ideas, inventions, concepts, or know-how ("User Submissions") on the Application, you acknowledge that SimpleTemp can use these User Submissions without providing 
        acknowledgement or compensation to you. By doing so, you waive any ownership or compensation rights you may have in relation to the User Submissions. We actively review User Submissions for potential new ideas. 
        If you want to retain any rights to your User Submissions, please refrain from posting them on the Application or sending them to us.
        </p>

        <p>
         <b>Applicable Law and Venue</b><br>
        SimpleTemp operates and controls the Services from its offices in the United Kingdom (UK). We understand the importance of establishing a predictable legal environment for our users. Therefore, for users accessing the 
        Application, Content, or Services from the UK, you and SimpleTemp explicitly agree that all disputes, claims, or other matters arising from or relating to your use of the Application, Content, or Services will be 
        governed by the laws of the United Kingdom.<br>
        Any claim, dispute, or controversy (whether in contract or tort, pursuant to statute or regulation, or otherwise, and whether preexisting, present, or future) involving SimpleTemp and arising out of or relating to 
        (a) these Terms; (b) the Application, Content, or Services; (c) oral or written statements, advertisements, or promotions relating to these Terms or to the Application, Content, or Services; or (d) the relationships 
        that result from these Terms or the Application, Content, or Services (collectively, a "Claim"), will be heard and resolved in the the High Court of justice located in London, UK. You consent to the personal 
        jurisdiction of such courts over you, stipulate to the fairness and convenience of proceeding in such courts, and covenant not to assert any objection to proceeding in such courts.
        </p>

        <p>
         <b>Relations Among Users and SimpleTemp</b><br>
        SimpleTemp does not provide any representation, warranty, covenant, or guarantee regarding the qualifications, credentials, competence, license status, or registration/license number of any User. While we make 
        reasonable efforts to verify the certifications and qualifications of Dental Personnel, the ultimate responsibility for verifying the credentials and license status of any User you engage with through our Services 
        lies solely with you. SimpleTemp bears no liability in this regard, even if we fail to make any verification efforts.<br>
        The registration/license number provided by Dental Personnel is generally included in the booking details for verification by the Dentist. However, if it is not provided, it is the Dentist's responsibility to request 
        this information from the Dental Personnel and ensure its accuracy.<br>
        Furthermore, Dental Personnel are responsible for familiarizing themselves with and adhering to the infection control protocols specified by the Dentist's office. They are accountable for their own actions while at the 
        Dentist's office and must comply with proper infection control guidelines. If Dental Personnel have concerns about any infection control protocols at a Dentist's office, it is their responsibility to address the issue, 
        which may include refusing to work there.<br>
        As a User, you are responsible for your conduct when using SimpleTemp and interacting with other Users. If you cancel an engagement without providing the minimum notice required by SimpleTemp or the other User, 
        we reserve the right to suspend or terminate your access to our Services.
        </p>

        <p>
         <b>Authorization and Release Information</b><br>
        I, [Your Name], hereby grant SimpleTemp permission to use my testimonial, including my name and brief biographical information, for the purpose of publicizing and promoting their business. I authorize SimpleTemp to 
        copy, exhibit, publish, and distribute the testimonial in various media formats, including printed publications, multimedia presentations, websites, and other distribution channels.<br>
        I understand and agree that I will not make any monetary or other claims against SimpleTemp for the use of my testimonial. I waive the right to inspect or approve the final product, including any written copies or 
        edited videos where my likeness or testimonial appears.<br>
        Furthermore, I release SimpleTemp from any and all claims, demands, or causes of action that may arise by reason of this authorization. I fully understand and acknowledge that this release includes any claims by 
        my heirs, representatives, executors, administrators, or any other persons acting on my behalf or on behalf of my estate.<br>
        I have read and understood the authorization and release information, and I freely give my consent for SimpleTemp to use my testimonial as outlined above.<br>
        [Your Name]<br>
        [Date]<br>
        This authorization and release cover both the use of testimonials and photographs or images taken of you.
        </p>

        <p>
         <b>Questions and Comments </b><br>
        If you have any questions regarding these Terms or your use of the Services, please contact us here: E-mail: hello@simpletemp.co.uk
        </p>


</body>

</html>